{% extends "base.html" %}
{% block title %}Acceso al Sistema{% endblock %}
{% block content %}
<div class="w-full max-w-md mx-auto pt-36 pb-12">
    <div class="bg-white p-8 rounded-xl shadow-lg">
        <div class="flex justify-center mb-6">
            <img src="{{ url_for('static', filename='Logo Red APS 2.png') }}" alt="Logo Red de Atención Primaria" class="h-24">
        </div>
        <div class="text-center mb-6">
            <h1 class="text-3xl font-bold text-gray-800">Libro de Novedades</h1>
        </div>
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-8">Acceso al Sistema</h2>
        <form action="{{ url_for('login') }}" method="post" class="space-y-6">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" id="email" name="email" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg" required>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" id="password" name="password" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg" required>
            </div>
            <div class="text-center">
                <button type="submit" class="w-full btn btn-primary">Ingresar</button>
            </div>
            <div class="text-center text-sm text-gray-600 mt-4">
                <a href="{{ url_for('solicitar_reseteo') }}" class="font-medium text-blue-600 hover:text-blue-500">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}